.rating-1 {
  background-color: rgb(255,0,0) !important;
}

.rating-2 {
  background-color: rgba(255,0,0,0.5) !important;
}

.rating-3 {
  background-color: rgb(205,127,50) !important;
}

.rating-4 {
  background-color: rgb(192,192,192) !important;
}

.rating-5 {
  background-color: rgb(255,215,0) !important;
}
