.idea-content {
  background-color: rgba(255,255,255,0.4);
  padding: 20px;
  height: 100%;
}

.idea-content .title-content {
  margin: 15px;
}

.idea-content .title-content .title {
  margin-right: 10px;
}

.idea-content .save-button {
  margin-top: 15px;
}

.idea-content .title {
  font-size: 20px;
  margin-right: 15px;
}

.idea-content .subtitle {
  font-size: 15px;
}


.idea .actions {
  float: right;
}

.idea {
  max-width: 700px;
}
